<div class="ui attached stackable red inverted menu">
    <div class="ui container">
        <a class="item" href="/home">
            <i class="home icon"></i> Easy Farma
        </a>

        <div class="right item">
            <div class="ui simple dropdown item">
                Mi Cuenta
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="settings icon"></i> Perfil</a>
                    <a class="item" (click)="cerrarSesion()"><i class="close icon"></i> Cerrar Sesión</a>
                </div>
            </div>

        </div>
    </div>
</div>