<div class="ui vertical red inverted menu">
    <div class="item">
        <div class="header">Mantenimiento</div>
        <div class="menu">
            <a class="item">Registrar Medicamentos</a>
            <a class="item">Registrar Stock</a>
        </div>
    </div>

    <div class="item">
        <div class="header">Operaciones</div>
        <div class="menu">
            <a class="item">Seguimiento de Pedidos</a>
            <a class="item">Informe de Ventas</a>
        </div>
    </div>

    <div class="item">
        <div class="header">Operaciones</div>
        <div class="menu">
            <a class="item active" href="/receta">Registrar Receta</a>
            <a class="item">Cotizar Receta</a>
        </div>
    </div>

    <div class="item">
        <div class="header">Centro de Ayuda</div>
        <div class="menu">
            <a class="item">Comentarios</a>
            <a class="item">Sugerencias</a>
        </div>
    </div>
</div>